<%- include('includes/header.ejs') %>
    <main>
        <textarea><%=lines%></textarea>
       
            <form class="options" action="/" method="POST">
        
            <div>
                <label>Enter number of lines:</label>
                <input type="number" name="number" />
            </div>
            <button>Generate</button>
            </form>
        

    </main>
    <%- include('includes/footer.ejs') %>