@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}
h1 {
  margin-bottom: 0;
  font-weight: 400;
}
h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  background-image: url('./bg.jpg');
  background-size: cover;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  height: 400px;
  line-height: 1.5rem;
  color: #111;
}

.options {
  margin-top: 1rem;
  background-color: rgba(102, 104, 73, 0.9);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

input[type=number] {
  width: 4rem;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 0.5rem;
}

button {

  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  text-transform: uppercase;
}
label {
  font-size: 1rem;
}
/* 
$raw-umber: rgba(142, 101, 73, 1);
$beaver: rgba(168, 146, 129, 1);
$ebony: rgba(102, 104, 73, 1);
$eerie-black: rgba(32, 32, 27, 1);
$drab-dark-brown: rgba(70, 62, 43, 1); */